<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.adobe.flexbuilder.debug.launchConfigurationType.multiplatform">
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_AIR_COMMAND_LINE_ARGUMENTS" value=""/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_AIR_PUBLISHER_ID" value=""/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_AIR_SECURITY_POLICY_FILE" value="security-policies/default.xml"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_APPLICATION" value="src/AntExample.mxml"/>
<booleanAttribute key="com.adobe.flexbuilder.debug.ATTR_CLEAR_APP_DATA" value="false"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_MOBILE_PLATFORM" value="com.adobe.flexide.multiplatform.ios.platform"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROJECT" value="AntExample"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_RUN_URL" value="file:/Sapient/Git_Build/demo_air_apk_build/AntExample/bin-debug/AntExample-app.xml"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_SELECTED_BUILD_TARGET" value=""/>
<booleanAttribute key="com.adobe.flexbuilder.debug.ATTR_USE_DEFAULT_URLS" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AntExample"/>
<listEntry value="/AntExample/src/AntExample.mxml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
</launchConfiguration>
